/.gitignore~
/slack_metro.X/Makefile
/slack_metro.X/build/default/production/slack_metro_main.p1
/slack_metro.X/build/default/production/slack_metro_main.p1.d
/slack_metro.X/build/default/production/slack_metro_main.pre
/slack_metro.X/dist/default/production/slack_metro.X.production.cmf
/slack_metro.X/dist/default/production/slack_metro.X.production.elf

/slack_metro.X/dist/default/production/slack_metro.X.production.hxl
/slack_metro.X/dist/default/production/slack_metro.X.production.lst
/slack_metro.X/dist/default/production/slack_metro.X.production.map
/slack_metro.X/dist/default/production/slack_metro.X.production.obj
/slack_metro.X/dist/default/production/slack_metro.X.production.rlf
/slack_metro.X/dist/default/production/slack_metro.X.production.sdb
/slack_metro.X/dist/default/production/slack_metro.X.production.sym
/slack_metro.X/funclist
/slack_metro.X/l.obj
/slack_metro.X/nbproject/Makefile-default.mk
/slack_metro.X/nbproject/Makefile-genesis.properties
/slack_metro.X/nbproject/Makefile-impl.mk
/slack_metro.X/nbproject/Makefile-local-default.mk
/slack_metro.X/nbproject/Makefile-variables.mk
/slack_metro.X/nbproject/Package-default.bash
/slack_metro.X/nbproject/configurations.xml
/slack_metro.X/nbproject/private/configurations.xml
/slack_metro.X/nbproject/private/private.properties
/slack_metro.X/nbproject/private/private.xml
/slack_metro.X/nbproject/project.properties
/slack_metro.X/nbproject/project.xml
/slack_metro.X/slack_metro_main.c
/slack_metro.pro
/slack_metro.dcm
/slack_metro-cache.lib
/slack_metro.sch
/slack_metro.lib
/slack_metro.bck
/slack_metro.bak
